@model List<JobPostingDto>



<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">

                        <h2>
                            Türkiye'nin Öğrenci ve Mezun Platformu

                        </h2>

                        <br />

                        <h1>Kariyerini İnşa Et</h1>
                        <p>

                        </p>
                        <a href="#" class="btn_1">Keşfet </a>
                        <a href="#" class="btn_2">Profilini Oluştur </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style=" flex: 0 0 100px;">
    <div class="row">

        @foreach (var jobPosting in Model)
        {
            <div class="col-12 col-lg-6 col-xl-4" style="margin-bottom: 50px;">
                <div class="event-card">
                    
                    <a href="/etkinlikler/talents-in-action/" class="event-card-image">
                        <img src=@jobPosting.Imagge  @* srcset="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/media/cache/c8/19/c8195c3e61247576a84f4bb5d41dc147.webp 1x" *@ alt="Talents in Action – Technology Summer Camp">
                    </a>  
                    <h5 class="mt-3">
                        <a href="/etkinlikler/talents-in-action/">
                            @jobPosting.Title
                        </a>
                    </h5>
                    <p>
                        @jobPosting.Advert
                    </p>
                    <span class="event-card-type" style="font-weight: lighter; font-size:medium">@jobPosting.CreatedBy</span>
                    <span class="event-card-type" style="font-weight: lighter; font-size:medium">@jobPosting.JobType</span>
                    <ul class="event-card-info">
                        <li>
                            <span>Son Başvuru</span>
                            <strong>@jobPosting.Deadline</strong>
                        </li>
                        <li>
                            <span>Başlangıç </span>
                            <strong>@jobPosting.CreatedDate</strong>
                        </li>
                        <li>
                            <span>Bitiş</span>
                            <strong>@jobPosting.JobDeadline</strong>
                        </li>
                    </ul>
                    <a href="/etkinlikler/talents-in-action/" class="primary-button primary-button--big" id="Talents in Action – Technology Summer Camp">
                        <span style="font-weight: lighter; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            Detaylı Bilgi
                        </span>
                        <i class="ri-arrow-right-s-line"></i>
                    </a>
                </div>


            </div>

        }



        

    </div>




</div> 





                    